.info-user {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;

  &_active {
    .info-user__content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__body {
    height: 100%;
  }

  &__close {
    top: rem(15);
    right: rem(15);
    position: absolute;
    width: rem(15);
    height: rem(15);
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--color-white);
  }

  &__content {
    margin-left: auto;
    max-width: rem(400);
    height: 100%;
    background-color: var(--color-brown);
    transition-property: transform, opacity;
    transition-duration: $transitionDuration;
    opacity: 0;
    transform: translateX(15%);
    padding: rem(44) rem(24);
  }

  &__content_edit {
    .info-user__submit {
      display: block;
    }

    .info-user__edit {
      display: none;
    }
  }

  &__submit {
    display: none;
  }

  &__edit {
    display: block;
  }

  &__label {
    display: block;
    border-bottom: rem(1) solid var(--color-middleGray);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin: 0 0 rem(8);
    font-size: rem(14);
    font-weight: 400;
    line-height: lh(20, 14);
    color: rgba(203, 203, 203, 1);
  }

  &__text {
    font-size: rem(16);
    font-weight: 500;
    line-height: lh(24, 16);
    color: var(--color-white);
  }

  &__licences {
    border-bottom: rem(1) solid var(--color-middleGray);
    padding-bottom: 1rem;
    margin-bottom: rem(24);
    max-height: rem(273);
    overflow: auto;
  }

  &__button {
    width: 100%;
    padding: rem(14) rem(30);
    border-radius: rem(30);
    font-size: rem(14);
    font-weight: 500;
    line-height: lh(20, 14);
    color: var(--color-white);
  }

  &__edit {
    background-color: rgba(38, 38, 38, 1);
    border: rem(1) solid var(--color-middleGray);
  }
}
