.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;

  &_active {
    .sidebar__content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__body {
    height: 100%;
  }

  &__close {
    top: rem(15);
    right: rem(15);
    position: absolute;
    width: rem(15);
    height: rem(15);
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--color-white);
    transition-duration: $transitionDuration;
    transition-property: fill;
  }

  &__content {
    overflow: auto;
    margin-left: auto;
    max-width: rem(400);
    height: 100%;
    background-color: var(--color-brown);
    transition-property: transform, opacity;
    transition-duration: $transitionDuration;
    opacity: 0;
    transform: translateX(15%);
    padding: rem(44) rem(24);
  }

  &__item {
    padding-bottom: 1rem;
    border-bottom: rem(1) solid var(--color-middleGray);
    margin-bottom: 1rem;

    &_licences {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: rem(22);
    font-weight: 600;
    line-height: lh(33, 22);
    color: var(--color-white);
  }

  &__text {
    margin: 0 0 rem(8);
    font-size: rem(14);
    line-height: lh(20, 14);
    color: rgba(203, 203, 203, 1);
  }

  &__subtitle {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: lh(24, 16);
    color: var(--color-white);
  }

  .sidebar-licences__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .sidebar-licences {
    max-height: 40vh;
    overflow: auto;
  }
}

@include mouse-device {
  .sidebar__close {
    &:hover,
    &:focus {
      .sidebar__icon {
        fill: #f55151;
      }
    }
  }
}

@include mouse-device {
  .sidebar__close {
    &:active {
      .sidebar__icon {
        fill: #f55151;
      }
    }
  }
}
