.table-elements {
  height: 100%;

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__head {
    width: calc(100% - 1em);
  }

  &__body {
    display: block;
    overflow: auto;
  }

  &__head,
  &__body {
    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }

  &__headlines,
  &__error {
    color: var(--color-middleGray);
    font-size: rem(14);
    font-weight: 400;
    line-height: lh(20, 14);
    padding: rem(13) rem(24);
    text-align: start;
  }

  &__line {
    outline: none;
    cursor: pointer;
    border-bottom: rem(1) solid var(--color-middleGray);
  }

  &__column {
    padding: rem(13) rem(24);
    color: var(--color-white);
    font-size: 1rem;
    line-height: lh(24, 16);
    background-clip: padding-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition-duration: $transitionDuration;
    transition-property: background;
  }

  .status {
    padding-left: rem(48);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: rem(24);
      width: rem(12);
      height: rem(12);
      border: rem(1) solid var(--color-white);
      border-radius: 100%;
      transform: translateY(-50%);
    }
  }

  @include status;
}

@include mouse-device {
  .table-elements__line {
    &:hover,
    &:focus {
      .table-elements__column {
        background-color: var(--color-black);
      }
    }
  }
}

@include touch-device {
  .table-elements__line {
    &:active {
      .table-elements__column {
        background-color: var(--color-black);
      }
    }
  }
}
