.table-elements {
  height: 100%;

  &__title,
  &__online {
    font-size: rem(18);
    font-weight: 500;
    line-height: lh(24, 18);
    color: var(--color-white);
    margin: 0;
    display: inline-block;
  }

  &__online {
    color: var(--color-middleGray);
    margin-bottom: 1rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__head {
    width: calc(100% - 1em);
  }

  &__body {
    display: block;
    overflow: auto;
    height: rem(268);
  }

  &__head,
  &__body {
    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }

  &__headlines,
  &__error {
    color: var(--color-middleGray);
    font-size: rem(14);
    font-weight: 400;
    line-height: lh(20, 14);
    padding: rem(13) rem(24);
    text-align: start;
  }

  &__line {
    border-bottom: rem(1) solid var(--color-middleGray);
  }

  &__column {
    padding: rem(13) rem(24);
    color: var(--color-white);
    font-size: 1rem;
    line-height: lh(24, 16);

    &_name {
      padding-left: rem(48);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: rem(24);
        width: rem(12);
        height: rem(12);
        border: rem(1) solid var(--color-white);
        border-radius: 100%;
        transform: translateY(-50%);
      }
    }
  }

  [data-status="no problems"] {
    .table-elements__column_name::before {
      background-color: #87ff85;
    }
  }

  [data-status="minor problems"] {
    .table-elements__column_name::before {
      background-color: #fffb95;
    }
  }

  [data-status="many problems"] {
    .table-elements__column_name::before {
      background-color: #f55151;
    }
  }

  [data-status="died"] {
    .table-elements__column_name::before {
      background-color: #cbcbcb;
    }
  }
}
