@mixin status {
  [data-status="no problems"] {
    .status::before {
      background-color: #87ff85;
    }
  }

  [data-status="minor problems"] {
    .status::before {
      background-color: #fffb95;
    }
  }

  [data-status="many problems"] {
    .status::before {
      background-color: #f55151;
    }
  }

  [data-status="died"] {
    .status::before {
      background-color: #cbcbcb;
    }
  }

  [data-status=""] {
    .status::before {
      background-color: transparent;
      border: none;
    }
  }
}

@mixin statusNoProblems {
  [data-status="no problems"] {
    @content;
  }
}

@mixin statusMinorProblems {
  [data-status="minor problems"] {
    @content;
  }
}

@mixin statusManyProblems {
  [data-status="many problems"] {
    @content;
  }
}

@mixin statusDied {
  [data-status="died"] {
    @content;
  }
}
