<section class="info">
  <div class="info__item info__item_status">
    <h2 class="info__title status"></h2>
    <p class="info__amount"></p>
  </div>
  <div class="info__item"></div>
  <div class="info__item">
    <div class="table-elements info__table-elements">
      <table class="table-elements__table">
        <thead class="table-elements__head">
          <tr class="table-elements__line">
            <th class="table-elements__headlines">Name</th>
            <th class="table-elements__headlines">Surname</th>
            <th class="table-elements__headlines">Email</th>
          </tr>
        </thead>
        <tbody class="table-elements__body"></tbody>
      </table>
    </div>
  </div>
</section>
