<section class="servers">
  <div class="servers__item servers__item_map"></div>
  <div class="servers__item servers__item_list">
    <h2 class="servers__title">Servers</h2>
    <p class="servers__online">(8 online of 10)</p>
    <label class="search servers__search">
      <input
        type="text"
        placeholder="Search"
        name="search"
        class="input-reset search__input"
      />
    </label>
    <div class="table-elements servers__table-elements">
      <table class="table-elements__table">
        <thead class="table-elements__head">
          <tr class="table-elements__line">
            <th class="table-elements__headlines">Name</th>
            <th class="table-elements__headlines">Connections</th>
          </tr>
        </thead>
        <tbody class="table-elements__body"></tbody>
      </table>
    </div>
  </div>
</section>
