<section class="servers">
  <div class="servers__item servers__item_map"></div>
  <div class="servers__item servers__item_list">
    <div class="table-elements servers__table-elements">
      <h2 class="table-elements__title">Servers</h2>
      <p class="table-elements__online">(8 online of 10)</p>
      <table class="table-elements__table">
        <thead class="table-elements__head">
          <tr class="table-elements__line">
            <th class="table-elements__headlines">Name</th>
            <th class="table-elements__headlines">Connections</th>
          </tr>
        </thead>
        <tbody class="table-elements__body"></tbody>
      </table>
    </div>
  </div>
</section>
